<h2>New Submission</h2>

<%= render "form.html", changeset: @changeset,
                        action: submission_path(@conn, :create) %>

<span><%= link "Back", to: submission_path(@conn, :index) %></span>
